body{
    background-color: #F1F0EC;
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 0 10% 10%;
    background-color: #F1F0EC ;
}

nav{
    display: inline-block;
    padding-left: 30vw;
}
a{
    padding-left: 50px;
}
main{
    display: flex;
    justify-content: center;
    padding: 5%;
}
img{
    padding-left: 30px;
}